* {
  margin: 0;
}

h1 {
  margin-top: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px;
  color: #fff;
  background-color: #8f8f8f;
  margin-bottom: 10px;
}

.container {
  padding-left: 10px;
}

.imageContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

img {
  width: 300px;
  box-sizing: border-box;
  margin: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition:
    box-shadow 0.2s,
    opacity 0.3s;
}
img:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

p {
  margin-top: 30px;
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
button {
  font-weight: bold;
  border: none;
  top: 20px;
  padding: 10px 8px;
  color: #fff;
  background-color: rgb(81, 121, 58);
  border-radius: 5px;
  transition: 0.5s;
}
button:hover {
  background-color: grey;
}

.author p {
  padding: 20px;
  color: #fff;
  background-color: #000;
}

/* Модальное окно */
.fullScreen {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.fullScreen img {
  width: 40%;
}

.loading {
  opacity: 0.5;
}

@media (max-width: 360px) {
  img {
    width: 100%;
  }
}
